.footer {
  display: flex;
  justify-content: space-between;
  background-color: #3b4b61;
  color: #ffffff;
  padding: 3% 10% 20px;
  font-size: 13px;
  line-height: 150%;
  font-weight: 300;
}

.footer-section {
  font-size: 13px;
  line-height: 150%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.footer-section p {
  font-size: 12px;
  line-height: 1.3;
  max-width: 250px;
}

.footer-section h3 {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-list {
  list-style-type: none;
  font-size: 10px; /* Уменьшенный размер шрифта */
  padding: 0;
}

.footer-list li {
  margin-bottom: 15%;
}

.footer-list a,
.footer-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: color 0.3s ease;
}

.footer-list a::before,
.footer-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fbc44b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.footer-list a:hover,
.footer-link:hover {
  color: #fbc44b;
}

.footer-list a:hover::before,
.footer-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.button-container {
  display: flex;
  width: 100%;
  gap: 15px;
}

.footer-messenger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s;
}

.footer-messenger:hover {
  transform: scale(1.1);
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-payment img {
  margin-right: 10px;
}

.subscribe-container {
  text-align: left;
  background-color: #3b4b61;
  padding: 10px 0;
  max-width: 300px;
  margin-top: 10px;
}

.subscribe-container p {
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
}

.subscribe-form input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 12px;
  flex-grow: 1;
  border-radius: 50px;
  color: #a9a9a9;
  max-width: 180px;
}

.subscribe-form input::placeholder {
  color: #a9a9a9;
}

.subscribe-form button {
  background-color: #fbc44b;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.availability {
  font-size: 10px; 
  line-height: 1; 
  margin-top: 0; 
}

.work-hours {
  margin-top:5px
}
.call-order {
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.footer-email {
  margin-bottom: 5px; 
}

.price-list-button {
  background-color: #FFC85E;
  color: #FFFFFF;
  border: none;
  border-radius: 79px;
  padding: 10px 25px !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  cursor: pointer;
  display: flex;

  justify-content: center;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
  width: 100%; /* изменено с фиксированной ширины на 100% */
  max-width: 300px !important; /* добавлено ограничение максимальной ширины */
  height: 40px;
  position: relative; /* Добавлено */

}
.footer .price-list-button span {
  position: absolute; /* Добавлено */
  left: 50%; /* Добавлено */
  transform: translateX(-50%); /* Добавлено */
}

.footer .price-list-button img {
  position: absolute; /* Добавлено */
  right: 30px; /* Добавлено */
  width: 10px;
  height: auto; /* Сохраняем пропорции */

}
.price-list-button:hover {
  background-color: #F3A50D;
}

.price-list-button img {
  margin-left: 10px;
}