@import '../../styles/vars.scss';

.footer {
  width: 100%;
  padding: 70px 0 116px;
  background-color: $footer-bg-color;
  color: $white-color;
  font-size: $font-size-xsmall;
  line-height: 1.5;
  font-weight: 200;

  @media screen and (max-width: $mobile-max) {
    padding: 15px;
  }

}
.footer-section:nth-child(1) { grid-area: sec1; }
.footer-section:nth-child(2) { grid-area: sec2; }
.footer-section:nth-child(3) { grid-area: sec3; }
.footer-section:nth-child(4) { grid-area: sec4; }
.footer-section:nth-child(5) { grid-area: sec5; }

.wrapper {
  margin: 0 auto;
  width: 67%;
  max-width: 1367px;
  display: grid;
  grid-gap:16px;
  align-items: start;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
      "sec1 sec2 sec3 sec4 sec5";

  @media screen and (max-device-width: $mobile-max) {
    width: 100%;
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "sec1 sec1 sec2"
      "sec5 sec4 sec3"
  }

  @media screen and (max-width: $mobile-mid) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "sec1 sec1"
      "sec2 sec3"
      "sec5 sec4"
  }
}

.number {
  font-weight: 600 !important;
}

.footer-section {
  display: flex;
  flex-direction: column;
  min-width: 146px;

  &.company-info {
    max-width: 320px;
    min-width: 290px;
  }

  &.menu {
    max-width: 130px;
    min-width: 126px;
  }

  &.categories {
    max-width: 170px;
    min-width: 145px;
  }
  
  &.price-list {
    max-width: 214px;
    min-width: 124px;
  } 

  &.conacts {
    width: 152px;
    .massagers-mobile {
      display: none;
    }
  }

  .footer-section:nth-child(1), 
  .footer-section:nth-child(2) {
    order: 1;
  }

  .footer-section:nth-child(3), 
  .footer-section:nth-child(4), 
  .footer-section:nth-child(5) {
    order: 2;
  }

  @media screen and (max-width: $mobile-max) {
    .download-price-list {
      display: none;
    }
  }

  p {
    font-size: $font-size-xsmall;
    line-height: 1.3;
    max-width: 250px;
  }

  h3 {
    font-size: $font-size-xsmall;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.footer-list {
  list-style-type: none;
  font-size: $font-size-xsmall;
  padding: 0;
  
  li {
    margin-bottom: 13%;
  }
}

.footer-list a,
.footer-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: color 0.3s ease;
}

.footer-list a::before,
.footer-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: $highlight-color;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.footer-list a:hover,
.footer-link:hover {
  color: $highlight-color;
}

.footer-list a:hover::before,
.footer-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.button-container {
  display: flex;
  width: 100%;
  gap: 15px;
}

.footer-messenger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.footer-messenger:hover {
  transform: scale(1.1);
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-payment img {
  margin-right: 10px;
  width: auto;
  height: 80%;
}

.subscribe-container {
  text-align: left;
  background-color: $footer-bg-color;

  max-width: 300px;
  font-size: $font-size-xsmall;

  p {
    color: $white-color;
    font-size: $font-size-xsmall;
    margin-bottom: 8px;
  }
}

.price-list-button {
  font-size: $font-size-xsmall !important;
  height: 20%;

  img {
    width: 10%;
    height: auto;
  }
}

.subscribe-form {
  display: flex;
  align-items: center;
  background-color: $white-color;
  border-radius: 50px;
  padding: 5px 10px;

  input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: $font-size-xsmall;
    flex-grow: 1;
    border-radius: 50px;
    color: $input-placeholder-color;
    max-width: 180px;
  }

  input::placeholder {
    color: $input-placeholder-color;
  }

  button {
    background-color: $highlight-color;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

.availability {
  font-size: $font-size-xsmall !important;

  line-height: 1;
  margin-top: 0;
}

.work-hours {
  font-size: $font-size-xsmall;
}

.call-order {
  font-size: $font-size-xsmall;
  margin-bottom: 15px;
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.footer-email {
  margin-bottom: 5px;
  font-weight: 600;
}
