@import '../../../styles/vars';

.catalog-header {
    
    h1 {
        font-size: $font-size-40;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
        color: $black-color;
    } 

    .catalog-fast-filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        .fast-filter-button {
            justify-content: center;
            width: 112px;
            height: 68px;
            border-radius: 8px;
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            color: $gray-color;
            background-color: $white-color;
            border: none;
        }
    }
}