.custom-button {
    background-color: #ffc85e;
    color: #fff;
    border: none;
    border-radius: 60px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  
    &:hover {
      background-color: #ffa000;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    }
  
    &:active {
      background-color: #ffa500;
      transform: scale(0.99);
      box-shadow: 0 2px 3px rgba(94, 62, 3, 0.2); 
    }
  
    &__icon {
      margin-left: 0px; 
      width: 20%; 
      height: 80%; 
    }
  }
  