@import '../../styles/vars';

.banner {
  position: relative;
  width: 100%;
  height: 796px;
  overflow: visible;

  @media screen and (max-width: $mobile-max) {
    height: auto;
  }

  &_image {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    @media screen and (min-width: $tablet-s) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(13px);
        mask-image: linear-gradient(to right, $black-color, transparent);
        background: linear-gradient(90deg,
            $blur-gradient-light-gray 0%,
            $blur-gradient-dark-gray 100%);
        opacity: 1;
        z-index: 1;
      }
    }

    .banner_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
    }

    @media screen and (max-width: $mobile-max) {
      position: absolute;
      left: -6vw;
      width: 104vw;
      height: auto;
      aspect-ratio: 32 / 21;

      .banner_img {
        object-position: center;
      }
    }
  }

  &_info {
    position: relative;
    z-index: 1;
    width: 730px;
    color: $white-color;
    margin-left: 8px;
    padding-top: 98px;

    .first-title {
      font-size: 70px;
      font-weight: 500;
      line-height: 110%;
    }

    .second-title {
      margin-top: 40px;
      margin-left: 4px;
      font-size: 30px;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      color: $white-color;

      span {
        font-weight: 800;
        color: $white-color;
      }
    }

    .button {
      width: 300px;
      height: 95px;
      margin-top: 60px;
      margin-left: 4px;
      justify-content: center;
      border-radius: 80px;
      font-size: 18px;
      letter-spacing: 4px;
    }

    @media screen and (max-width: $mobile-max) {
      padding-top: 3vw;
      margin-left: 0;
      width: 100%;
      height: auto;
      aspect-ratio: 31 / 21;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &::before {
        content: "";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        background: linear-gradient(90deg,
            $blur-gradient-light-gray 0%,
            $blur-gradient-dark-gray 100%);
        aspect-ratio: 29 / 10;
        width: 100%;
        backdrop-filter: blur(4px);
        z-index: -1;
      }

      .first-title {
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        line-height: 110%;
      }

      .second-title {
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;

        span {
          font-weight: 400;
          font-size: 16px;
        }
      }

      .button {
        display: none;
      }
    }

    @media screen and (max-width: $mobile-mid) {
      .first-title {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 110%;
      }

      .second-title {
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;

        span {
          font-weight: 400;
          font-size: 10px;
        }
      }
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 540px;
    margin-top: 90px;

    &.for-desktop-pluses {
      display: flex;
    }

    &.for-mobile-pluses {
      display: none;
    }

    .advant {
      display: flex;
      flex-wrap: nowrap;
      width: 250px;

      .circle {
        width: 40px;
        height: 40px;
        background-color: $button-bg-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 10px;

        &::before {
          content: "+";
          display: inline-block;
          color: $white-color;
          font-size: $font-size-xlarge;
          font-weight: 700;
          cursor: default;
          user-select: none;
        }
      }

      .advant-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;

        @media screen and (max-width: $mobile-mid) {
          margin: auto 0px;
          font-size: 10px;
          color: $gray-color;
          letter-spacing: 0;
        }
      }
    }

    @media screen and (max-width: $mobile-max) {
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      margin-top: 4vw;

      &.for-desktop-pluses {
        display: none;
      }

      &.for-mobile-pluses {
        display: flex;
      }

      .advant {
        width: 100%;
        margin-top: 10px;

        .circle {
          width: 20px;
          height: 20px;
          margin: auto 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $button-bg-color;
          border-radius: 50%;

          &::before {
            font-size: $font-size-xsmall;
          }
        }
      }
    }
  }
}