@import '../../../styles/vars';
.header-operator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 36px;
  }
  
  .header-operator p {
    margin: 0px;
    padding-right: 20px;
    text-align: right;
    text-justify: right;
    text-wrap: nowrap;
    line-height: 2;
  }
  
  .header-operator-info .header-operator-signature {
    margin: 2px 0;
    font-size: $font-size-small;
    line-height: 14px;
    text-wrap: balance;
    color: $gray-color;
  }
  
  .header-telephone-number {
    font-weight: bold;
    font-size: $font-size-medium;
    letter-spacing: -0.5px;
    color: $black-color;
  }
  
  .header-operator a {
    font-weight: bold;
    text-decoration: underline;
    color: $gray-color;
  }
  
  .header-operator-photo img {
    border-radius: 50px;
  }
  
  .header-operator-shadow-point {
    position: relative;
    top: 40px;
    left: 60px;
    z-index: 999;
    width: 8px;
    height: 8px;
    margin: 0;
    border-radius: 50%;
    background: rgba(31, 216, 93, 1);
    animation: shadow 1s infinite alternate;
  }
  
  @keyframes shadow {
    from {
      box-shadow: 0 0 0px 0px rgba(31, 216, 93, 1);
    }
    to {
      box-shadow: 0px 0px 10px 2px rgba(31, 216, 93, 1);
    }
  }
  