.container {
  width: 67%;
  max-width: 1368px;
  margin: 0 auto;
  @media screen and (max-device-width: 768px) {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section {
  padding: 4px;
  margin: 4px;
  z-index: 1;
  @media screen and (max-device-width: 768px) {
    margin-top: 0;
    padding: 0px;
    margin: 0px;
  }
}
