
.container {
  width: 67%;
  max-width: 1368px;
  margin: 0 auto;
}

.section {
  padding: 4px;
  margin: 4px;
  z-index: 1;
}

.banner {
  height: 796px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.banner_image {
  background-image: url("../public/banner_home.png");
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.blur {
  height: inherit;
  backdrop-filter: blur(12px);
  mask-image: linear-gradient(to right, var(--black-color), transparent);
  background: linear-gradient(
    90deg,
    rgba(138, 148, 171, 1) 0%,
    rgba(138, 148, 171, 0) 100%
  );
  opacity: 1;
}

.banner_info {
  width: 67%;
  max-height: 796px;
  max-width: 1368px;
  color: var(--white-color);
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 8px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.banner_info h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 110%;
}

.banner_info h2 {
  margin-top: 40px;
  margin-left: 4px;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.banner_info h2 span {
  font-weight: 800;
}

.banner_info .btn {
  width: 300px;
  height: 96px;
  margin-top: 60px;
  margin-left: 4px;
  background-color: var(--yellow-color);
  border-radius: 80px;
  border: none;
  transition: background-color 0.3s ease;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}

.banner_info .btn:hover {
  background-color: var(--orange-color);
  cursor: pointer;
}

.banner_info .btn:active {
  transform: scale(0.99);
}

.banner_info .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 540px;
  height: auto;
  margin-top: 92px;
}

.banner_info .advant {
  width: 252px;
  display: flex;
  flex-wrap: nowrap;
}

.banner_info .circle {
  width: 40px;
  height: 40px;
  background-color: var(--yellow-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-right: 12px;
}

.circle b {
  font-size: 20px;
  cursor: default;
  user-select: none;
}

.banner_info .advant span {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
