.container {
    width: 67%;
    max-width: 1367px;
    margin: 0 auto;
}

.content { /*Обозначил границы для удобства, можно убрать */
    border-left: 1px solid #000; /* Добавление границы слева */
    border-right: 1px solid #000; /* Добавление границы справа */
}
.section { /*Разграничил секции, при их реализации стоит убрать отступы и границы */
    padding: 4px;
    margin: 4px;
    text-align: none;
    min-height: 100px;
    border: 1px solid #000;
}
