header {
    text-align: center;
    background-color: white;
}

.header-desktop {
    @media screen and (max-device-width: 768px) {
        display: none;
    }
}

.logo-sultan-link {
    display: inline-block;
}

.logo-sultan {
    transition: transform 0.3s, filter 0.3s;
}

.logo-sultan-link:hover .logo-sultan {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.header-section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10%;
    width: 80%;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.header-address {
    border-right: 1px dashed rgba(63, 78, 101, 0.1);

    @media screen and (max-device-width: 768px) {
        font-size: 14px;
        font-weight: 600;
        padding-top: 20px;
        border: none;
    }
}

.header-address img,
.header-mail img {
    @media screen and (max-device-width: 768px) {
        float: left;
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 8px;
    }
}

.header-address p,
.header-mail p {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    text-align: left;
    text-wrap: nowrap;
}

.header-info img {
    float: left;
    padding-top: 10px;
}

.header-mail {
    padding-left: 20px;

    @media screen and (max-device-width: 768px) {
        padding-left: 0px;
        padding-top: 14px;
        font-weight: 600;
    }
}

.header-sales-dept {
    @media screen and (max-device-width: 768px) {
        padding-left: 0px;
        padding-top: 14px;
        font-size: 14px;
        font-weight: 600;
    }
}

.header-sales-dept p {
    @media screen and (max-device-width: 768px) {
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        text-wrap: nowrap;
    }
}

.header-sales-dept img {
    @media screen and (max-device-width: 768px) {
        float: left;
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 8px;
    }
}

.header-mail a {
    position: relative;
    font-weight: 600;
    color: black;
    text-decoration: solid;
    transition: color 0.3s ease;
}

.header-mail a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fbc44b;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.header-mail a:hover {
    color: #fbc44b;
}

.header-mail a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

p.header-signature {
    margin: 2px 0;
    font-size: 12px;
    color: gray;

    @media screen and (max-device-width: 768px) {
        font-weight: 300;
    }
}

.header-sales-dept .header-signature-2 {
    @media screen and (max-device-width: 768px) {
        margin: 0 0;
        padding-top: 5px;
        padding-left: 40px;
        font-size: 12px;
        font-weight: 300;
        color: gray;
    }
}

.order-call-link {
    position: relative;
    text-decoration: underline;
    color: gray;
    transition: color 0.3s ease;
}

.order-call-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #fbc44b;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.order-call-link:hover {
    color: #fbc44b;
}

.order-call-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

.header-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    list-style-type: none;
    @media screen and (max-device-width: 768px){
        flex-direction: column;
        align-items: flex-start;
        padding-left: 14px;
    }        
}

.header-navigation ul li {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    @media screen and (max-device-width: 768px){
        padding: 10px 0;
    }  
}

.header-navigation ul li:not(:last-child) {
    @media screen and (min-device-width: 768px){
        border-right: 1px dashed rgba(63, 78, 101, 0.1);
    }
}

.header-navigation-link:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 60%;
    width: 1px;
    background-color: rgba(63, 78, 101, 0.1);
    transform: translateY(-50%);
}

.header-navigation-link a {
    position: relative;
    color: #3F4E65;
    text-decoration: none;
    transition: color 0.3s ease;
    @media screen and (max-device-width: 768px){
        font-size: 14px;
        font-weight: 400;
    }
}

.header-navigation-link a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fbc44b;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.header-navigation-link a:hover {
    color: #fbc44b;
}

.header-navigation-link a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

.header-navigation-link a:active {
    color: rgb(196, 148, 52);
    border-bottom: 1px solid rgba(196, 148, 0.1);
}

.header hr {
    width: 100%;
    border-bottom-width: 0;
    color: rgba(63, 78, 101, 0.1);

    @media screen and (max-device-width: 768px) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.header-section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header-catalog {
    padding-left: 38px;
    min-width: 110px;
    max-width: 192px;
    height: 59px;
}

.header-catalog button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: rgba(255, 200, 94, 1);
    border-radius: 79px;
    cursor: pointer;
}

.header-catalog button:hover {
    box-shadow: 0 0 10px 0px rgb(211, 210, 210);
}

.header-catalog button:active {
    background-color: rgb(196, 148, 52);
}

.header-catalog-button p {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.header-catalog-button img {
    padding-left: 10px;
}

.header-search-form {
    padding-left: 15px;

    @media screen and (max-device-width: 768px) {
        padding: 0px;
        max-width: 384px;
        flex-grow: 1;
        flex-basis: 0;
    }
}

form {
    position: relative;
}

.header-search-form * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-search-form input {
    position: relative;
    outline: none;
    min-width: 110px;
    max-width: 263px;
    height: 59px;
    padding-left: 15px;
    border-radius: 36px;
    border: none;
    background: rgba(237, 237, 237, 1);
    transition: .3s linear;

    @media screen and (max-device-width: 768px) {
        min-width: 160px;
        max-width: 260px;
        height: 40px;
        margin-left: 26px;
        padding-left: 40px;
        border-radius: 0px;
        background: white;
        border: none;
        transition: none;
    }
}

.header-search-form input:hover {
    box-shadow: 0 0 10px 0px rgb(211, 210, 210);
}

.header-search-form input:focus {
    background: rgb(211, 210, 210);

    @media screen and (max-device-width: 768px) {
        background: white;
        box-shadow: 0 0 10px 0px rgb(211, 210, 210);
    }
}

.header-search-form input::placeholder {
    @media screen and (max-device-width: 768px) {
        position: absolute;
        left: 68px;
        top: 14px;
        font-size: 14px;
        font-weight: 600;
    }
}

.header-search-form button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 39px;
    height: 39px;
    background: none;
    border: none;
    border-radius: 1000px;

    @media screen and (max-device-width: 768px) {
        position: absolute;
        left: 40px;
        top: 12px;
        width: 20px;
        height: 20px;
    }
}

.header-search-form button:hover {
    box-shadow: 0 0 5px 5px rgb(255, 255, 255, 1);
}

.header-search-form button:active {
    box-shadow: 0 0 5px 5px rgba(255, 200, 94, 1);
    @media screen and (max-device-width: 768px) {
        box-shadow: none;}
}

.header-operator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 35px;
}

.header-operator p {
    margin: 0px;
    padding-right: 20px;
    text-align: right;
    text-justify: right;
    text-wrap: nowrap;
    line-height: 2;
}

.header-operator-info .header-operator-signature {
    font-size: 12px;
    margin: 2px 0;
    line-height: 14px;
    text-wrap: balance;
    color: gray;
}

.header-telephone-number {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: black;
}

.header-operator a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}

.header-operator a:hover {
    color: rgb(196, 148, 52);
}

.header-operator a:active {
    color: rgb(196, 148, 52);
    border-bottom: 1px solid rgba(196, 148, 0.1);
}

.header-operator-photo img {
    border-radius: 50px;
}

.header-operator-shadow-point {
    position: relative;
    top: 40px;
    left: 60px;
    z-index: 999;
    width: 8px;
    height: 8px;
    margin: 0;
    border-radius: 50%;
    background: rgba(31, 216, 93, 1);
    animation: shadow 1s infinite alternate;
}

@keyframes shadow {
    from {
        box-shadow: 0 0 0px 0px rgba(31, 216, 93, 1);
    }
    to {
        box-shadow: 0px 0px 10px 2px rgba(31, 216, 93, 1);
    }
}

.header-price {
    min-width: 130px;
    max-width: 192px;
    height: 59px;
    padding-left: 50px;
}

.header-price button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(255, 200, 94, 1);
    border-radius: 79px;
    cursor: pointer;
}

.header-price button:hover {
    box-shadow: 0 0 10px 0px rgb(211, 210, 210);
}

.header-price button:active {
    background-color: rgb(196, 148, 52);
}

.header-price-button p {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.header-price-button img {
    padding-left: 10px;
}

.header-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    padding-left: 50px;
}

.header-cart img {
    margin-top: 0;
    margin-right: 10px;
}

.header-cart a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    outline: none;
}

.header-cart a:focus {
    outline: none;
}

.header-cart a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fbc44b;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.header-cart a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

.header-cart a:hover {
    color: #fbc44b;
}

.header-cart a:active {
    color: rgb(196, 148, 52);
    border-bottom: 1px solid rgba(196, 148, 0.1);
}

.header-cart p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    text-align: left;
    text-wrap: nowrap;
}

/* мобильная версия */
.header-mobile {
    @media screen and (min-device-width: 769px) {
        display: none;
    }
    @media screen and (max-device-width: 768px) {
        position: relative;
    }
}

.popup-menu-content {
    @media screen and (max-device-width: 768px) {
        position: absolute;
        top: 77px;
        left: 0;
        z-index: 9999;
        width: 100%;
        padding-top: 4px;
        background-color: white;
    }
}

.header-mobile-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-mobile .header-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    border-radius: 1000px;
    background-color: white;
}

.header-mobile .header-cart-button img {
    width: 22px;
    height: 22px;
}

.header-mobile .dropdown-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 10px 10px;
    margin-left: 15px;
    border-radius: 1000px;
}

.header-mobile .dropdown-menu-button img {
    width: 9px;
    height: 8px;
}

.header-mobile-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    min-width: 320px;
    max-width: 768px;
    height: 40px;
    margin: 0;
}

.header-mobile .popup-menu-content {
    margin: 20px 0;
}

.header-mobile .header-catalog-button {
    flex-direction: row-reverse;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    height: 40px;
    min-width: 160px;
    max-width: 384px;
    padding: 0px;
    margin: 0px;
    letter-spacing: normal;
    font-weight: 600;
    border-radius: 0px;
    background-color: #fff;
    color: rgba(63, 78, 101, 1);
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
}

.header-mobile .header-catalog-button img {
    width: 15px;
    height: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

.header-mobile .header-order-call {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.header-mobile .header-order-call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    border-radius: 1000px;
}

.header-mobile .header-order-call-button img {
    width: 8px;
    height: 8px;
}

.header-mobile .header-order-call .header-signature {
    padding-left: 8px;
}

.header-mobile .header-navigation {
    border-top: 1px dashed rgba(63, 78, 101, 0.1);
}

.header-mobile .header-navigation h4 {
    margin: 0;
    padding-top: 24px;
    padding-left: 14px;
    font-weight: 600;
    text-align: left;
    color: rgba(63, 78, 101, 1);
}

.header-mobile .header-price-button {
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 290px;
    height: 70px;
    margin: 22px 15px;
}

.header-mobile .header-price-button img {
    width: 12px;
    height: 13px;
}