header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.logo-sultan-link {
    display: inline-block;
}

.logo-sultan {
    transition: transform 0.3s, filter 0.3s;
}

.logo-sultan-link:hover .logo-sultan {
    transform: scale(1.1); /* Увеличение изображения */
    filter: brightness(0.8); /* Затемнение изображения */
}

.header-section-1 { /* 1ый div в фигме (контакты + навигация) */
    display: grid;
    grid-template-columns: 2fr 1fr 3fr; /* 2 части на контакты, 3 части навигации */
    align-items: center;
    justify-content: space-between;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.header-address {
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
}

.header-address p, .header-mail p {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    text-wrap: nowrap;
}

.header-info img {
    float: left;
    padding-top: 10px;
}

.header-mail {
    padding-left: 20px;
}

.header-mail a {
    color: black;
    text-decoration: solid;
    position: relative;
    transition: color 0.3s ease;
    font-weight: 600;
}
.header-mail a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fbc44b;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.header-mail a:hover {
    color: #fbc44b;
}

.header-mail a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.header-signature {
    font-size: 12px;
    margin: 2px 0;
    color: gray;
}

.order-call-link {
    text-decoration: underline; /* Добавление подчеркивания */
    position: relative;
    color: gray; /* Унаследовать цвет от родительского элемента */
    transition: color 0.3s ease;
}

.order-call-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #fbc44b;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .order-call-link:hover {
    color: #fbc44b;
  }
  
  .order-call-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.header-navigation ul { /* отображение списка навигации (о компании, доставка и пр.) */
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}


.header-navigation ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.header-navigation ul li:not(:last-child) { /* правые границы ссылок из списка (кроме последней) */
    border-right: 1px dashed  rgba(63, 78, 101, 0.1);
}

.header-navigation-link {
    padding: 0 10px;
    position: relative;
}
.header-navigation-link:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: rgba(63, 78, 101, 0.1);
}
.header-navigation-link a {
    color: #3F4E65;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
.header-navigation-link a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fbc44b;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.header-navigation-link a:hover {
    color: #fbc44b;
}

.header-navigation-link a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.header-navigation-link a:active { /* изменение цвета и нижней границы ссылки навигации при клике */
    color: rgb(196, 148, 52);
    border-bottom: 1px solid rgba(196, 148, 0.1);
}

.header hr { /* разделение div-ов горизонтальной чертой */
    border-bottom-width: 0;
    color: rgba(63, 78, 101, 0.2);
}

.header-section-2 { /* 2ой div из фигмы (лого, прайс, корзина и пр.) */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.header-catalog {
    padding-left: 4px;
    min-width: 150px;
    max-width: 192px;
    height: 59px;
}

.header-catalog button { /* кнопка каталог */
    border: none;
    background-color: rgba(255, 200, 94, 1);
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 79px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-catalog button:hover { /* изменение тени кнопки каталога при наведении */
    box-shadow: 0 0 10px 0px rgb(211, 210, 210);
}

.header-catalog button:active { /* изменение цвета кнопки каталога при клике */
    background-color: rgb(196, 148, 52);
}

.header-catalog-button p {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.header-catalog-button img {
    padding-left: 10px;
}

.header-search-form {
    padding-left: 4px;
}

form { /* блок поиска внутри div "header-search-form"*/
    position: relative;
}

.header-search-form * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-search-form input {
    min-width: 163px;
    max-width: 263px;
    height: 59px;
    padding-left: 15px;
    border-radius: 36px;
    border: none;
    background: rgba(237, 237, 237, 1);
    outline: none;
    position: relative;
    transition: .3s linear;
}

.header-search-form input:hover { /* изменение тени поля поиска при наведении */
    box-shadow: 0 0 10px 0px rgb(211, 210, 210);
}

.header-search-form input:focus { /* изменение цвета поля поиска при наборе текста */
    background: rgb(211, 210, 210);
}

.header-search-form button { 
    width: 39px;
    height: 39px;
    background: none;
    border: none;
    border-radius: 1000px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-search-form button:hover { /* изменение тени кнопки поиска при наведении */
    box-shadow: 0 0 5px 5px rgb(255, 255, 255, 1);
}

.header-search-form button:active { /* изменение тени кнопки поиска при клике */
    box-shadow: 0 0 5px 5px rgba(255, 200, 94, 1);
}

.header-operator { /* блок с телефоном и картинкой оператора */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 4px;
}

.header-operator p {
    margin: 0px;
    padding-right: 20px;
    text-align: right;
    text-justify: right;
    text-wrap: nowrap;
    line-height: 2; 
}
.header-telephone-number {
    color: black;
    font-weight: bold; /* Жирный шрифт */
    font-size:  15px;
    letter-spacing: -0.5px; /* Уменьшение межсимвольного расстояния */
}
.header-operator a {
    text-decoration: none;
    color: rgba(17, 17, 17, 1);
    font-weight: bold;
}

.header-operator a:hover { /* изменение цвета номера телефона при наведении */
    color: rgb(196, 148, 52);
}

.header-operator a:active { /* изменение цвета и нижней границы номера телефона при клике */
    color: rgb(196, 148, 52);
    border-bottom: 1px solid rgba(196, 148, 0.1);
}

.header-operator-photo img {
    border-radius: 50px;
}

.header-operator-shadow-point { /* зелёная точка возле фото оператора */
    width: 8px;
    height: 8px;
    background: rgba(31, 216, 93, 1);
    margin: 0;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 60px;
    animation: shadow 1s infinite alternate;
    z-index: 999;
  }
  
@keyframes shadow { /* мерцание зелёной точки */
    from {
      box-shadow: 0 0 0px 0px rgba(31, 216, 93, 1);
    }
    to {
      box-shadow: 0px 0px 10px 2px rgba(31, 216, 93, 1);
    }
  }

.header-price {
    padding-left: 4px;
    min-width: 150px;
    max-width: 192px;
    height: 59px;
}

.header-price button { /* кнопка прайс-лист */
    border: none;
    background-color: rgba(255, 200, 94, 1);
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 79px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-price button:hover { /* изменение тени кнопки каталога при наведении */
    box-shadow: 0 0 10px 0px rgb(211, 210, 210);
}

.header-price button:active { /* изменение цвета кнопки каталога при клике */
    background-color: rgb(196, 148, 52);
}

.header-price-button p {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.header-price-button img {
    padding-left: 10px;
}

.header-cart { /* блок корзины */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    padding-left: 4px;
}

.header-cart img {
    margin-top: 0;
    margin-right: 10px;
}

.header-cart a {
    position: relative;
    text-decoration: none;
    color: inherit;
    outline: none;
}

.header-cart a:focus {
    outline: none;
}

.header-cart a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fbc44b;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.header-cart a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.header-cart a:hover {
    color: #fbc44b;
}

.header-cart a:active { /* изменение цвета и нижней границы суммы корзины при клике */
    color: rgb(196, 148, 52);
    border-bottom: 1px solid rgba(196, 148, 0.1);
}

.header-cart p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    text-align: left;
    text-wrap: nowrap;
<<<<<<< Updated upstream
=======
}

/* мобильная версия */
.header-mobile {
    @media screen and (min-device-width: 769px) {
        display: none;
    }
    @media screen and (max-device-width: 768px) {
        position: relative;
    }
}

.popup-menu-content {
    @media screen and (max-device-width: 768px) {
        position: absolute;
        z-index: 9999; 
        top: 77px;
        left: 0;
        width: 100%;
        padding-top: 4px;
        background-color: white;
    }
}

.header-mobile-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-mobile .header-cart-button {
    background-color: white;
    margin-right: 15px;
    border-radius: 1000px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mobile .header-cart-button img {
    width: 22px;
    /* Ширина иконки */
    height: 22px;
    /* Высота иконки */
}

.header-mobile .dropdown-menu-button {
    padding: 10px 10px;
    margin-left: 15px;
    border-radius: 1000px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-mobile .dropdown-menu-button img {
    width: 9px;
    height: 8px;
}

.header-mobile-2 {
    min-width: 320px;
    max-width: 768px;
    height: 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.header-mobile .popup-menu-content {
    margin: 20px 0;
}

.header-mobile .header-catalog-button {
    background-color: #fff;
    color: rgba(63, 78, 101, 1);
    border-radius: 0px;
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
    height: 40px;
    min-width: 160px;
    max-width: 384px;
    margin: 0px;
    letter-spacing: normal;
    font-weight: 600;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0px;
}

.header-mobile .header-catalog-button img {
    width: 15px;
    height: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

.header-mobile .header-order-call {
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.header-mobile .header-order-call-button {
    padding: 10px 10px;
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mobile .header-order-call-button img {
    width: 8px;
    height: 8px;
}

.header-mobile .header-order-call .header-signature {
    padding-left: 8px;
}

.header-mobile .header-navigation {
    border-top: 1px dashed rgba(63, 78, 101, 0.1);
}

.header-mobile .header-navigation h4 {
    margin: 0;
    font-weight: 600;
    padding-top: 24px;
    padding-left: 14px;
    text-align: left;
    color: rgba(63, 78, 101, 1);
}

.header-mobile .header-price-button {
    width: 290px;
    height: 70px;
    margin: 22px 15px;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-mobile .header-price-button img {
    width: 12px;
    height: 13px;
>>>>>>> Stashed changes
}