.mini-card {
  border-radius: 8px;
  padding: 32px;
  max-height: 500px;
  max-width: 238px;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  flex-direction: column;
  align-items: center;
}

.mini-card__badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #4caf50;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.mini-card__image {
  max-height: 194px;
  height: auto;
  border-radius: 8px;
}

.mini-card__details {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.mini-card__volume {
  font-size: 14px;
  color: #757575;
  margin-bottom: 8px;
  display: flex; /* Используйте flexbox для выравнивания */
  align-items: center; /* Вертикальное выравнивание */
}

.mini-card__icon {
  margin-right: 8px; /* Отступ между иконкой и текстом */
  width: 16px; /* Ширина иконки */
  height: 16px; /* Высота иконки */
  filter: grayscale(100%); /* Применяем серый цвет к иконке */
}

.mini-card__name {
  font-weight: 500; /* Полужирный с помощью численного значения */

  font-size: 16px;
  margin-bottom: 8px;
}

.mini-card__barcode,
.mini-card__manufacturer {
  font-size: 14px;
  color: #757575;
  margin-bottom: 4px;
}

.mini-card__price {
  width: 100px;
  font-weight: bold;
  color: #333;
}

.mini-card__button {
  width: 80%;
  aspect-ratio: 343 / 90;
}

/* Эффекты при наведении курсора */

.mini-card__price-button {
  display: flex; /* Устанавливаем flex-контейнер для цены и кнопки */
  align-items: center; /* Вертикальное выравнивание по центру */
}
.mini-card__button:hover {
  background-color: #ffa000;
}

.mini-card__label {
  font-size: 14px; /* Match the font size with the other labels */
  color: #757575; /* Set the color to gray */
  margin-bottom: 4px; /* Maintain the margin for consistency */
}
