:root {
  --black-color: #111111;
  --gray-color: #3F4E65;
  --yellow-color: #FFC85E;
  --orange-color: #F3A50D;
  --white-color: #FFFFFF;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

   
