:root {
  --swiper-pagination-bottom: 24px;
}

.carousel {
  position: relative;

  .swiper-wrapper {
    padding-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    --swiper-pagination-bottom: 0px;
    .swiper-wrapper {
      padding-bottom: 32px;
    }
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 8px;
    background-color: #3f4e65;
    border-radius: 100px;
    transition: 0.3s ease;
    margin: 0 5px;

    &-active {
      background-color: #fff;
      width: 26px;
      @media screen and (max-width: 768px) {
        background-color: #ffc85e;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 68px;
    height: 68px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
    
    &::after {
      font-size: 18px;
      color: #ffc85e;
    }
    @media screen and (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  .swiper-button-next {
    right: -36px;

    &::after {
      color: #ffc85e;
    }
    @media screen and (max-width: 768px) {
      right: -24px;
    }
  }

  .swiper-button-prev {
    left: -36px;

    &::after {
      color: #ffc85e;
    }
    @media screen and (max-width: 768px) {
      left: -24px;
    }
  }
}

.slide {
  display: flex;
  aspect-ratio: 1366 / 500;
  max-height: 500px;
  position: relative;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    aspect-ratio: 290/205;
  }
  &#slide1 {
    background: linear-gradient(
      0deg,
      rgba(183, 191, 202, 1) 0%,
      rgba(189, 199, 208, 1) 66%,
      rgba(189, 199, 209, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-background {
    background-image: url(/carousel1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    @media screen and (max-width: 1366px) {
      background-position: center;
    }
    @media screen and (max-width: 768px) {
      background-size: cover;
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 60%;
    margin: 24px 100px auto 24px;
    z-index: 1;

    p.end-date {
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
      letter-spacing: 4.2px;
      text-transform: uppercase;
      .mobile-br {
        display: none;
      }
      @media screen and (max-width: 768px) {
        font-size: 6px;
        letter-spacing: 1.2px;
        line-height: 185%;

        .mobile-br {
          display: block;
        }
      }
    }

    h1.title {
      margin: 10px 0 0;
      max-width: 580px;
      font-size: 70px;
      font-weight: 500;
      line-height: 110%;
      text-wrap: nowrap;
      @media screen and (max-width: 768px) {
        margin-top: 5px;
        font-size: 20px;
      }
      span {
        font-weight: 800;
      }
    }

    p.description {
      margin: 35px 0 0;
      max-width: 500px;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;
      text-wrap: wrap;
      @media screen and (max-width: 768px) {
        margin-top: 10px;
        font-size: 12px;
        .desktop-span {
          display: none;
        }
      }
    }

    button {
      margin: 50px 0 10px;
      max-width: 343px;
      max-height: 90px;
      width: 100%;
      height: 100%;
      aspect-ratio: 343 / 90;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1px;
      background-color: #ffc85e;
      border: none;
      border-radius: 80px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ffa500;
      }
      @media screen and (max-width: 768px) {
        margin-top: 10px;
        width: 160px;
        height: 42px;
        font-size: 10px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }
}

