.carousel .slide {
    display: flex;
    aspect-ratio: 1366 / 500;
    max-height: 500px;
    position: relative;
    border-radius: 10px;
}

.carousel .slide {
    background: 
        linear-gradient(0deg, rgba(183, 191, 202, 1) 0%, rgba(189, 199, 208, 1) 66%, rgba(189, 199, 209, 1) 100%); 
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .slide .image-background {
    background-image: url(/promo-carousel/carousel1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

@media screen and (max-width: 1366px) {
    .slide .image-background {
         background-position: center;
    }
}
    
.carousel .slide .text-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 60%;
    margin: 80px 110px auto 76px;
    z-index: 1;
}

.text-content p.end-date {
    margin: 0;

    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}
.text-content h1.title {
    margin: 0;
    margin-top: 10px;
    max-width: 580px;

    font-size: 70px;
    font-weight: 500;
    line-height: 110%;
    text-wrap: nowrap;

}
.text-content h1.title span {
    font-weight: 800;
}
.text-content p.description {
    margin: 0;
    margin-top: 35px;
    max-width: 500px;

    font-size: 20px;
    font-weight: 400;
    line-height: 150%;

    text-wrap: wrap;
}

.text-content button {
    margin: 50px 0;
    max-width: 343px;
    max-height: 90px;
    height: 100%;
    width: 100%;
    aspect-ratio: 343 / 90;

    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;

    background-color: #ffc85e;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffa500;
}


.swiper-pagination-bullet {
    width: 16px;
    height: 7px;
    background-color: #3F4E65;
    border-radius: 100px;
    transition: 0.3s ease;
    margin: 0 5px; 
}

/* Стиль для активной точки */
.swiper-pagination-bullet-active {
    background-color: #fff; 
    width: 26px;
}
/* Стиль для кнопок слайдера */
.carousel {
    position: relative;
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 67px;
    height: 67px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
}

.swiper-button-next {
    right: -35px; /* Половина кнопки выходит за границу слайда */
}
.swiper-button-next::after {
    color: #FFC85E;
    font-size: 18px;
}
.swiper-button-prev {
    left: -35px; /* Половина кнопки выходит за границу слайда */
}

.swiper-button-prev::after {
    font-size: 18px;
    color: #FFC85E;
}
