@import '/global.css';

.best-products h1 {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--yellow-color);
    margin: 16px 0;
}

.best-products h1 span {
    font-weight: 500;
    color: var(--black-color);
}

.best-products p {
    font-weight: 300;
    color: var(--gray-color);
    margin: 16px 0;
}

.best-products .slide {
    height: 94px; 
}

.best-products .wrap-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78px;
}

.best-products .slide .img-container {
    border-radius: 10px;
}

.best-products .slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.best-products .swiper-pagination-bullet {
    width: 16px;
    height: 8px;
    margin: 0 5px;
    background-color: var(--gray-color);
    border-radius: 100px;
    transition: 0.3s ease;
}

.best-products .swiper-pagination-bullet-active {
    width: 26px;
    background-color: #FFC85E;
}

.best-products .swiper-pagination {
    bottom: 0px;
}
