
.product-list h2 {
  text-transform: uppercase;
  font-weight: 500;
}
.product-list h2 span {
  color: rgb(255, 200, 94);
  font-weight: 800;
}
.product-list .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.swiper-Mobile-product-list .swiper-pagination-bullet {
  position: relative;
  top: 10px;
}
.swiper-Mobile-product-list .swiper-pagination-bullet-active {
  background-color: #ffc85e;
  width: 26px;
}
.wrapper_product{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  padding-inline: 5px;
}