/* .product-list {
} */

.product-list h2 {
  text-transform: uppercase;
  font-weight: 500;
}
.product-list h2 span {
  color: rgb(255, 200, 94);
  font-weight: 800;
}
.product-list .wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
